@use "../../../global.scss" as *;


.content {
   min-width: 350px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: 100%;
   gap: 10px;
   padding: 80px, 0;

   img {
     width: 100px;
     height: 100px;
     margin-top: 100px;
     border-radius: 50%;
     object-fit: cover;
   }

   .texts {
     display: flex;
     flex-direction: column;
     text-align: center;
     gap: 10px;

     p {
       font-size: var(--font-xsmall);
     }
   }

   button {
     width: 150px;
     border: none;
     cursor: pointer;
     border-radius: 8px;
     padding: 14px 28px;
     background-color: var(--color-primary);
     color: var(--color-base);
     width: 100%;
     margin-bottom: 150px;
     margin-top: 50px;
   }
 }

.reset-password {
   gap: 20px;
   h2 {
      text-align: left;
      font-size: var(--font-large);
      font-weight: 500;
   }
   .val-text {
      font-size: var(--font-xsmall);
    }
}
input {
   width: 100%;
   background: transparent;
   outline: none;
   border: 1px solid var(--border-color);
   color: var(--color-base);
   border-radius: 8px;
   font-size: 16px;
   padding: 10px;
}

.reset-password-btn {
   background-color:#FFC107;
   margin-top: 30px;
   color: #ffff;
}