@use "../../../global.scss" as *;

.confirm-account {
  height: 90vh;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: var(--bg-gradient);
  border-radius: 15px;

  .completed {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    gap: 50px;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }

    .texts {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 10px;

      p {
        font-size: var(--font-xsmall);
      }
    }

    button {
      width: 150px;
      border: none;
      cursor: pointer;
      border-radius: 8px;
      padding: 10px 28px;
      background-color: var(--color-secondary-500);
      color: var(--neutral-color-1-50);
      width: 100%;
    }
  }

  .confirm-container {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .title {
      font-weight: 500;
      font-size: var(--font-large);
      margin-top: -80px;
    }

    .wrapper101 {
      display: flex;
      flex-direction: column;
      gap: 50px;

      .code-container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .email-icon {
          font-size: 20px;
        }

        p {
          font-size: var(--font-xsmall);
        }

        form {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .count-down {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 300;
            font-size: var(--font-xsmall);

            .account-verified {
              color: var(--success);
            }

            .clock {
              align-self: flex-end;
              display: flex;
              align-items: center;
              gap: 5px;
            }
          }
        }
      }

      button {
        width: 150px;
        border: none;
        cursor: pointer;
        border-radius: 8px;
        padding: 10px 28px;
        background-color: var(--color-secondary-500);
        color: var(--neutral-color-1-50);
        width: 100%;
      }

      .buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        button {
          width: 170px;
          border: none;
          cursor: pointer;
          border-radius: 8px;
          padding: 10px 28px;

          &.back-btn {
            border: 1px solid var(--border-color);
            background-color: transparent;
            color: var(--color-light);
            font-weight: 400;
          }

          &.resend-btn {
            background-color: var(--color-primary-300);
            color: var(--neutral-color-1-50);
            font-weight: 400;
          }
        }
      }
    }
  }
}
