@use "../../../global.scss" as *;

.confirm-account {
  background: linear-gradient(to bottom, var(--bg-gradient));
  padding: 20px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-radius: 15px;

  .completed {
    min-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    gap: 50px;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }

    .texts {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 10px;

      p {
        font-size: var(--font-xsmall);
      }
    }

    button {
      width: 150px;
      border: none;
      cursor: pointer;
      border-radius: 8px;
      padding: 14px 28px;
      background-color: var(--color-primary);
      color: var(--color-base);
      width: 100%;
    }
  }

  .title {
    font-weight: 500;
    font-size: var(--font-large);
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .code-container {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .email-icon {
        font-size: 20px;
      }

      p {
        font-size: var(--font-xsmall);
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .count-down {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-weight: 300;
          font-size: var(--font-xsmall);

          .account-verified {
            color: var(--success);
          }

          .clock {
            align-self: flex-end;
            display: flex;
            align-items: center;
            gap: 5px;
          }
        }
      }
    }

    button {
      width: 150px;
      border: none;
      cursor: pointer;
      border-radius: 8px;
      padding: 14px 28px;
      background-color: var(--color-primary);
      color: var(--color-base);
      width: 100%;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;

      button {
        width: 150px;
        border: none;
        cursor: pointer;
        border-radius: 8px;
        padding: 14px 28px;

        &.back-btn {
          border: 1px solid var(--border-color);
          background-color: transparent;
          color: var(--color-light);
          font-weight: 400;
        }

        &.resend-btn {
          background-color: var(--bg-gray-300);
          color: var(--color-light);
          font-weight: 400;
        }
      }
    }
  }
}
