@use "../../../global.scss" as *;

.setup-profile {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    background: linear-gradient(to bottom, var(--bg-gradient));
    height: 90vh;
    overflow-y: auto;
    max-width: 400px;
    width: 100vw;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include mobile {
      max-width: 600px;
    }

    .completed {
      min-width: 350px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      gap: 50px;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }

      .texts {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;

        p {
          font-size: var(--font-xsmall);
        }
      }

      button {
        width: 150px;
        border: none;
        cursor: pointer;
        border-radius: 8px;
        padding: 14px 28px;
        background-color: var(--color-primary);
        color: var(--color-base);
        width: 100%;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    & {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .input-container {
        display: flex;
        flex-direction: column;
        gap: 5px;

        input,
        textarea,
        select {
          padding: 10px;
          background-color: transparent;
          border-radius: 8px;
          border: 1px solid var(--border-color);
          color: var(--color-light);
          outline: none;
        }

        select {
          background-color: inherit;

          option {
            background-color: #392e2b;
            color: inherit;
          }
        }
      }

      .camera-container {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .buttons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 20px;

          .temp-image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border: 1px solid var(--border-color);
            color: var(--color-gray);
            padding: 10px;
            border-radius: 8px;
            font-size: var(--font-xsmall);
            cursor: pointer;
            gap: 4px;

            label {
              cursor: pointer;
            }
          }
        }
      }

      button {
        width: 150px;
        border: none;
        cursor: pointer;
        border-radius: 8px;
        padding: 14px 28px;
        background-color: var(--color-primary);
        color: var(--color-base);
        width: 100%;
        margin: 30px 0;
      }
    }
  }
}
