@use "../../../global.scss" as *;

.forgot-password {
  background: linear-gradient(to bottom, var(--bg-gradient));
  padding: 20px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-radius: 15px;
  width: 500px;
  .content {
   min-width: 350px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: 100%;
   padding: 20px;

   input {
      background: transparent;
      outline: none;
      border: 1px solid var(--border-color);
      color: var(--color-base);
      border-radius: 8px;
      font-size: 16px;
      padding: 10px;
      width: 420px;
      }
      button {
      background-color:#FFC107;
      margin-top: 100px;
      color: #ffff;
      width: 420px;
      border-radius: 8px;
      height: 45px;
      border: none;
      cursor: pointer;
      }
}
   
}
