@use "../../../global.scss" as *;


.enter-code {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.digit-input {
   width: 50px;
   height: 50px;
   font-size: 24px;
   text-align: center;
   border: 1px solid #ccc;
   border-radius: 8px;
   background-color: transparent;
   color: #ffff;
}
.reset-btn {
   background-color: #FFC107;
   color: #ffff;
   margin-top: 150px;
   height: 50px;
}

.email-icon {
   font-size: 20px;
}

p {
   font-size: var(--font-xsmall);
 }
